<h2>Display a masterpiece</h2>

#form action="/action_page.php" target="_blank" method="get">
#Select a file: input type="file" name="myFile">
  #input type="submit">
#/form>

<form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="images[]" multiple />
      <input type="submit" />
    </form>
