<h2>Display a masterpiece</h2>

<form action= <img src="https://unsplash.com/photos/Pt_YmiYm7a4" alt="Yummy food" style="width:104px;height:142px;">
  Select a file: <input type="file" name="myFile"><br><br>
  <input type="submit">
</form>
